body{
    background-color:#f0f0ee;
}

.loading{
    width: 10rem;
    height: 10rem;
    border-width: 1.5rem;

}

.data{
    width: 90%;
    position: absolute;
    top: 20;
    z-index: 999;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

table thead{
    border: none;
}

table tbody{
    background-color: #f5f6fc;
}